<!DOCTYPE html>
<html>

<head>
    {% block title %}
    <title>HTML && CSS tutorial</title>
    {% endblock %}
    <link rel="stylesheet" href="{{ base_styles_path }}">
    {% block head %}
    {% endblock %}
</head>

<body>
    <div class="parent">
        <img class="bg" src="{{ background_path }}">
        <div class="container">
            <div class="top-nav">
                <a href="/">HOME</a>
                <a href="/lists/html">HTML</a>
                <a href="/lists/css">CSS</a>
                <a href="#next">NEXT STEPS</a>
            </div>
        </div>
    </div>
    <div class="content">
        {% block content %}
        {% endblock %}
    </div>
</body>


</html>