<!DOCTYPE html>
<html>

<head>
    {% block title %}
    <title>HTML && CSS tutorial</title>
    {% endblock %}
    <link rel="stylesheet" href="/css/styles.css">
    {% block head %}

    {% endblock %}
</head>

<body>
    <div class="parent">
        <img class="bg" src="../img/background.jpg">
        <div class="container">
            <div class="top-nav">
                <a href="index.html">HOME</a>
                <a href="#news">HTML</a>
                <a href="#contact">CSS</a>
                <a href="#about">NEXT STEPS</a>
            </div>
        </div>
    </div>
    {% block content %}
    {% endblock %}
</body>


</html>