{% extends 'html/base.njk' %}
{% block head %}
<link href="https://fonts.googleapis.com/css2?family=Comic+Neue:ital@1&display=swap" rel="stylesheet">
{% endblock %}
{% block content %}
<div style="margin-top: 15%;" class="box">
    <h1>Hi user!👋👋👋</h1>
    <p style="font-size: 20px;" class="text">
        This site can be used both by beginners in order to remember some basic things, and by experienced
        developers if they need detailed information about a particular HTML tag or CSS property. Also,
        developers who have learned html and css can find out the direction for further development: such
        developers should definitely familiarize themselves with CSS frameworks, as well as many existing
        HTML and css template engines.</p>
    <p style="font-size: 20px;" class="text">On the site you can find:</p>
    <ul>
        <li>
            <p style="font-size: 20px;" class="text">HTML block, where you can find structured information about
                HTML tags</p>
        </li>
        <li>
            <p style="font-size: 20px;" class="text">CSS block, where you can find structured information about
                CSS tags</p>
        </li>
        <li>
            <p style="font-size: 20px;" class="text">Next steps block, where ypu can find list of technologies,
                every front-end developer should be
                familiar with</p>
        </li>
        <li>
            <p style="font-size: 20px;" class="text">We also have a good to start block, that contains articles
                that will be useful to a novice
                developer.</p>
        </li>
        <li>
            <p style="font-size: 20px;" class="text">Also we have EDPRESSO - this is block where you get
                interesting fact related to selected block
            </p>
        </li>
    </ul>
</div>
{% endblock %}