article > * {
  min-width: 0px;
  margin-left: 0px;
  margin-right: 0px;
  grid-column: 4;
}

article > h1 {
  font-family: "Lucida Grande";
  grid-column: 3 / span 3;
  text-align: center;
}
article > h2 {
  font-family: "Lucida Grande";
  grid-column: 3 / span 3;
  text-align: center;
}
article > p {
  --x-height-multiplier: 0.375;
  --baseline-multiplier: 0.17;
  font-family: Georgia, Cambria, "Times New Roman", Times, serif;
  font-weight: 400;
  font-style: normal;
  font-size: 21px;
  line-height: 1.58;
  letter-spacing: -0.003em;
  color: rgba(0, 0, 0, 0.84);
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  grid-column: 2 / span 5;
  text-align: left;
}
article > ul > li > p {
  --x-height-multiplier: 0.375;
  --baseline-multiplier: 0.17;
  font-family: Georgia, Cambria, "Times New Roman", Times, serif;
  font-weight: 400;
  font-style: normal;
  font-size: 21px;
  line-height: 1.58;
  letter-spacing: -0.003em;
  color: rgba(0, 0, 0, 0.84);
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  grid-column: 2 / span 5;
  text-align: left;
}
.link {
  --x-height-multiplier: 0.375;
  --baseline-multiplier: 0.17;
  font-family: Georgia, Cambria, "Times New Roman", Times, serif;
  font-weight: 400;
  font-style: normal;
  font-size: 21px;
  line-height: 1.58;
  letter-spacing: -0.003em;
  color: rgba(0, 0, 0, 0.84);
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  grid-column: 2 / span 5;
  text-align: left;
}
.link:hover {
  background-color: #ddd;
  color: #000000;
  border: none 0px #000000;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}
article > ul {
  align-self: center;
  grid-column: 3 / span 3;
}
img {
  width: 100%;
}
.line-numbers a {
  text-decoration: none;
  color: #000;
  padding-right: 1em;
}

figure {
  margin: 0px;
}

figure figcaption {
  color: #666;
  font-style: italic;
  font-size: 0.8em;
}

article {
  display: grid;
  grid-template-columns: 1fr 1fr 10px 440px 10px 1fr 1fr;
}

article > figure {
  grid-column: 1/-1;
  margin: 20px;
}

article > .aside {
  grid-column: 5/-1;
}

article > blockquote {
  grid-column: 3 / span 3;
  margin: 0px;
  color: #666;
  border-left: 3px solid black;
  padding-left: 10px;
}
pre{
  grid-column: 2 / span 5;
}
