---
layout: layouts/article.njk
eleventyNavigation:
key: next_steps
parent: Home
css_path_prefix: ../
---
<h1>Further development as a front-end developer</h1>
<figure>
    <img src="https://www.softermii.com/assets/uploads/blog/20200111/inner-02.jpg">
</figure>

<p>If you have already studied the HTML and CSS that this site is dedicated to and are interested in further
    self-development as a front-end developer, then you should definitely become familiar with these technologies:</p>
<p>There will be a list of technologies in one of the directions and after that a small description of every list item
    with link to official site</p>
<p>Further development in CSS</p>
<ul>
    <li>
        <p>Sass</p>
    </li>
    <li>
        <p>Bootstrap</p>
    </li>
    <li>
        <p>Less</p>
    </li>
</ul>
<h1>Sass</h1>
<figure>
    <img src="https://evondev.com/wp-content/uploads/2019/03/mixin-in-sass.jpg">
</figure>
<p>CSS on its own can be fun, but stylesheets are getting larger, more complex, and harder to maintain. This is
    where a preprocessor can help. Sass lets you use features that don't exist in CSS yet like variables, nesting,
    mixins, inheritance and other nifty goodies that make writing CSS fun again.</p>

<p>Once you start tinkering with Sass, it will take your preprocessed Sass file and save it as a normal CSS file
    that you can use in your website.</p>
<a href="https://sass-lang.com/">
    <p class="link">Sass, CSS with superpowers</p>
</a>
<h1>Bootstrap</h1>
<figure>
    <img src="https://www.tutorialrepublic.com/lib/images/bootstrap-illustration.png">
</figure>
<p>Bootstrap is an open source toolkit for developing with HTML, CSS, and JS. Quickly prototype your ideas or build your
    entire app with our Sass variables and mixins, responsive grid system, extensive prebuilt components, and powerful
    plugins built on jQuery.</p>
<a href="https://getbootstrap.com/">
    <p class="link">Bootstrap, build responsive, mobile-first projects on the web with the world’s most popular
        front-end component library.</p>
</a>
<h1>Less</h1>
<figure>
    <img src="https://upload.wikimedia.org/wikipedia/commons/8/81/LESS_Logo.svg">
</figure>
<p>Less is a dynamic preprocessor style sheet language that can be compiled into Cascading Style Sheets and run on the
    client side or server side. Designed by Alexis Sellier, Less is influenced by Sass and has influenced the newer
    "SCSS" syntax of Sass, which adapted its CSS-like block formatting syntax.</p>
<a href="http://lesscss.org/">
    <p class="link">Less, it`s CSS, just a little more</p>
</a>
<p>Further development in HTML.</p>
<ul>
    <li>
        <p>XML</p>
    </li>
    <li>
        <p>XHTML</p>
    </li>
    <li>
        <p>CSS selectors <br>
            ( Can also be attributed to CSS further development, but this is the way to select html elements)</p>
    </li>
</ul>

<h1>XML</h1>
<figure>
    <img src="https://dimestorerocket.com/wp-content/uploads/2019/10/xmlbanner-1.png">
</figure>
<p>Extensible Markup Language (XML) is a markup language that defines a set of rules for encoding documents in a format
    that is both human-readable and machine-readable. The World Wide Web Consortium's XML 1.0 Specification of 1998 and
    several other related specifications—all of them free open standards—define XML.</p>
<a href="https://www.w3schools.com/xml/xml_whatis.asp">
    <p class="link">XML does not have a website, but here you can find a good tutorial on it.</p>
</a>
<h1>XHTML</h1>
<figure>
    <img src="https://sitechecker.pro/wp-content/uploads/2018/01/Knowledge-base-part-3_what-is-xhtml.jpg">
</figure>
<p>eXtensible HyperText Markup Language (XHTML) is part of the family of XML markup languages. It mirrors or extends
    versions of the widely used HyperText Markup Language (HTML), the language in which Web pages are formulated.</p>
<a href="https://www.w3schools.com/html/html_xhtml.asp">
    <p class="link">XHTML does not have a website too, but here you can find a good tutorial on it.</p>
</a>
<h1>CSS selectors</h1>
<figure>
    <img src="https://hackernoon.com/drafts/2z4a3yh4.png">
</figure>
<p>A CSS selector is the first part of a CSS Rule. It is a pattern of elements and other terms that tell the browser
    which HTML elements should be selected to have the CSS property values inside the rule applied to them.</p>
<p>CSS selectors are part of CSS, so you should be familiar with it already, but But for some tasks it
    may be necessary to have detailed knowledge of CSS selectors.</p>
<a href="https://www.w3schools.com/css/css_selectors.asp">
    <p class="link">As CSS seelctors are part of CSS, it does not have a website, but here you can find good tutorial on
        it</p>
</a>